if [ ! -e .cluster ];
then
    echo "file .cluster not exists. Run: #> echo \"clustername\" > .cluster" ;
    exit;
fi

CLUSTER="$(cat .cluster)"
echo "Switch to ${CLUSTER}"
export KUBECONFIG="${HOME}/${K8SCONFIGS}/${CLUSTER}/kubeconfig.yaml"
kubectl get nodes
